<div class="jumbotron">
    <h1>APB</h1>
    <p>This is the REST-API for APB application. Download the application on <a class="btn btn-default" target="_blank" href="https://github.com/juamar/APP/releases">GitHub</a></p>
    <p><small>APB is an Android Application which implements a chat. This is a proof of concept of what APB could be. This is really unsecure, but stable enought to be shown to final users.</small></p>
</div>
<div class="row">
    <div class="col-md-12">
        <p class="lead">This Application uses .NET MVC Framework.</p>
        <p>ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
        <p><a target="_blank" href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
        a broad range of clients, including browsers and mobile devices. ASP.NET Web API
        is an ideal platform for building RESTful applications on the .NET Framework.</p>
        <p><a class="btn btn-default" target="_blank" href="http://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" target="_blank" href="http://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" target="_blank" href="http://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>APB was an academic project by Juan Ignacio Avendaño Huergo for <a target="_blank" href="http://eug.es" class="btn btn-primary btn-lg">EUG</a></p>
    </div>
</div>
